{% extends "template.html" %}
{% set active_page = "metaanalysis" %}

{% block content %}


    <div class="note">
    <div class='note__title'>  Systematic Review and meta-analysis  </div>
    I am working across different topics to automatise/visualise/bring to life the process of systematic reviews regardless of their scientific question. Pubmed search is automatised nicely. I've also added machine learning to learn the acceptance/rejection from the abstract and title. In the end, one could imagine a web-based toolkit across different systematic reviews running in our group that could listen and notify if new papers appear, could visualise the outcomes, etc. We could offer a collaboration to the WP10 to bring together the systematic reviews of the ORCHESTRA. 

        <div class='note__content__entry'>
            <div class='note__content__title'>  ORCHESTRA </div>
            A member of the coordinator team, delegated to the data collection and analysis (Work-Package 7).
        </div>        
    </div>

{% endblock %}
