* {
    box-sizing: border-box;
}

a {
    transition: opacity 0.2sease-in-out;
}

body {
    margin:0;
    padding:0;
    font-size:15px;
    line-height: 1.4;
    font-family: 'PT Sans', sans-serif;
    background-color: #F4F5F4;
    text-align: center;
    /*  max-width: 45em;*/
    /*justify-items: center;*/
}

.page {
    max-width: 55rem;
    /*justify-content: center;*/
    margin: auto;
    text-align: left;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.page__content {
    flex-grow: 1;
}

.top--link--mini--div {
    text-align: right;

}

.page__header {
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0.2rem;
    font-size:  1.6rem;
    display: flex;
    align-items: center;
    background-color:#CDE3E5;
    /*color: white;*/
    /*color:  #20898F;*/
}


.page__header__main {
    display: inline-block;
    opacity:  0.8;
    color: white;
    font-size:  1.5rem;
    /*font-family: 'PT Sans', sans-serif;*/

    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    flex-grow: 1;
}

.page__header__side{
    display: inline-block;
    float:  right;
    opacity:  0.8;

    font-weight: 100;
    font-family: 'PT Sans Narrow', sans-serif;
}


.contact{
    /*padding-bottom: 0.5rem;*/
    display: inline-block;
    float:  right;
    padding-right: 4rem;
}

.contact a{
    /*color:  white;*/
    color:  #20898F;
    padding-right: 0.5rem;
    /*align-items: top;*/
    opacity:  0.7;
}

.contact a:last-child {
    padding-right: 0;
}

.note__title {
    /*font-weight: 700;*/
    font-size: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    padding:  2rem;
    /*padding-bottom:  0.5rem;*/
}

figcaption{
    font-size: 0.9em;
    color: gray;
    font-family: 'PT Sans Narrow', sans-serif;
}

.note__text {
    font-size: 1.0rem;
}

.page__navigation {
    display:  flex;
    align-items: center;
    flex-direction:row;
    background-color: #20898F;
    font-family: 'PT Sans Narrow', sans-serif;
    align-items: center;
    padding: 2rem 4rem;
    border-top: 5px solid #CDE3E5;
    /*border-bottom: 5px solid #CDE3E5;*/
}


.page__content--border {
    border-top: 5px solid #CDE3E5;
}

.page__navigation__list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    /*text-align: center;*/
    /*padding-bottom: 4rem;*/
}

.mini--menu {
    list-style: none;
    margin: 0;
    padding: 0.5rem 4rem;
    background-color: #CDE3E5;
    text-transform: uppercase;
    display: block;
    text-align: right;
}   



.mini--menu li {
    display: inline-block;
    padding-right: 1em;
    text-align: right;
}


.mini--menu li:last-child {
    padding-right: 0;
}

.top-link-mini {
    font-size: 1rem;
    text-decoration: none;    
    padding: 0.25rem 0;    
    font-family: 'PT Sans Narrow', sans-serif;
}

.top-link-mini:visited{
    color:  #0C696E;  
}

a.page__header__main__a: visited {
    color: white;     
} 

.page__header__main__a:visited {
    color: white;     
} 


.page__navigation__list li {
    display: inline-block;
    padding-right: 1.2em;
}

.page__navigation__list li:last-child {
    padding-right: 0;
}


.banner-link{
    display: block;
    width: 100%;
    height: 8rem;   
    position: relative; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-link + .banner-link{
    margin-top: 0.5rem;
}

.banner-link__title,
.banner-link__dimmer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;    
}


.banner-link__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    padding-left: 4rem;
    align-items: center;
    box-sizing: border-box;

    color: #0C696E;
    /*color: white;*/
}

.banner-link--cover{
    background-size: cover;

}
.banner-link__dimmer {
    background-color: #0C696E;
    background-color: white;
    opacity: 0.75;
}



.banner-link: hover{
    opacity: 1.0;

    /*font-size: 1.0rem;
    color:  #0C696E;*/

}

figure {
    text-align: center;

}




.top-link {
    opacity: 0.8;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: center;
    color:  white;
}


.top-link-active {
    opacity: 1;
    
}

.top-link:hover {
    opacity: 1;
}

.top-link:visited{
 color:  white;   
}


.note {
    /*padding:  2rem;*/
    padding-top: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    /*padding-bottom: 1.5rem;*/
}

    
.note__horizontal {
    padding: 4rem;
    /*padding-bottom: 1.5rem;*/
    width: 100%;
    background-size: contain;
    background-image: url("half_genome_4.png");
    background-position: right;
    background-repeat: no-repeat;
    font-size: 1.2em;
    
}

u {
  text-decoration: underline;
  /*font-weight: bold;*/

}


    /*width:  100%;
    height:  100%;*/
    /*vertical-align: middle;*/
    /*padding-top: 1.5rem;*/
    /*padding-left: 1.8rem;*/
 /*   background-color: red;
    width: 100%;
    height: 20%;
}*/

.div__button{
    height: 10vh;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /*padding-left: 0.5rem;*/
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    /*padding-bottom: 2.5rem;*/
    /*opacity: 0.8;*/
}

.div__button:hover{
    /*box-shadow: 0 0 11px rgba(33,33,33,.2); */
    opacity: 0.8;
    /*back*/
}
    
.hello-page{
    margin-top: 2rem; 
    width: 100%;
    height: 100%;
    position:  relative;
    background-position: right;
    background-size: cover;
 }

.hello-page__dimmer {
    position: absolute;
    opacity:  0.95;
    background-color: white;
}   

.hello-page__content {
    padding: 4rem;
    position:  relative;
}
.hello-page__dimmer,
.hello-page__content {
    /*position: absolute;*/
    font-size: 1.2rem;
    top: 0;
    bottom: 0;
    width: 55%;
}

.note__content__entry {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

}

.note__content__journal{
    font-size: 0.9em;
    color: gray;
    font-family: 'PT Sans Narrow', sans-serif;
}

.note__content__date{
    font-size: 0.9em;
    color: gray;
    font-family: 'PT Sans Narrow', sans-serif;
}

.note__content__title{
    font-size: 1.5em;
    color: #0C696E;
    font-family: 'PT Sans Narrow', sans-serif;
}

.note__content__subtitle{
    padding-top: 0.5rem;
    font-size: 1.1em;
    color: #0C696E;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;

}


a {
    text-decoration: none;

}

.page__content a {
    text-decoration: none;
    opacity: 0.75;
    color: #0C696E;   
}




a:hover{
    opacity: 1.0;
}

.footer {
    display:  flex;
    justify-items: center;
    position: relative;
    align-items: center;
    font-size: 0.9em;
    color: black;
    margin-top: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: white;
}

.footer::after{
    position: absolute;
    content: ' ';
    left: 4rem;
    right: 4rem;
    top: 0;
    height: 1px;
    display: block;
    background-color: #0C696E;
    opacity:  0.1;
}

.footer__main {
    /*min-width: 30%;*/
    display: inline-block;
    padding-left: 4rem;
    flex-grow: 1;
}

.footer__main a{
    padding-right:  0.5rem;
    display: inline-block;
}


.footer__aside {
    display: inline-block;
    float: right;
    padding-right:  4rem;
}


h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0.0rem;
    color: #0C696E;
}

h2 {
    font-weight: normal;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0.0rem;
    /*color: #0C696E;*/
}

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0.0rem;
}

h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0.0rem;
}

h5 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0.0rem;
}

