{% extends "template.html" %}
{% set active_page = "blog" %}
{% block content %}
<div class="page__content page__content--border">

	<!-- 
	<div class="note">
	<div class='note__content__title'> Supoprt for Humboldtian paradigm. </div>
	<div class='note__content__date'> </div>
	<div class='note__content'> </div>
	</div> -->


<!-- 
	<div class="note" id='how-to-choose-an-advisor'>
		<div class='note__content__title'> How to choose a PHD advisor? </div>
		<div class='note__content__date'> and if you should go into PHD? </div>
	</div>


	<div class="note">
		<div class='note__content__title'> International research groups </div>
		<div class='note__content__date'> </div>
	</div>

	<a href="{{ url_for('on_emigration') }}" class="blog-link">
		<div class='note__content__title'> Improtance of the project-based teaching </div>
		<div class='note__content__date'> </div>
	</a> -->


	<a href="{{ url_for('on_emigration') }}" >
		<div class="blog-link">
		<div class='note__content__title'> A voice for informed emigration</div>
		<div class='note__content__date'> June 2019 </div>
			<div class="blog-link--content">I've emigrated from Poland when I was 24 years old to join the PhD program in southern Germany. During the goodbye party, my friends told me I wouldn't survive it over there. First, what threatened me was starvation since I'm a vegetarian. ...
			</div>
		</div>
	</a>


</div>


{% endblock %}

