{% extends "template.html" %}
{% set active_page = "cv" %}


{% block content %}
      <div class="page__content page__content--border">




<ul class="mini--menu" >    
   <li><a href="#education" class="top-link-mini" > Education </a></li>
   <li><a href="#experience" class="top-link-mini" > Employment </a></li>
   <li><a href="#training" class="top-link-mini" > Training </a></li>
   <li><a href="{{url_for('static', filename='img/anna_gorska_cv.pdf')}}" class="top-link-mini" download> Download CV </a></li>
   <!-- <li><a href="#pna" class="top-link-mini" > Designing a PNA molecule to halt bacterial translation </a></li> -->
</ul>



<div class="note" id='education'> 
    <div class='note__content__title'> Education </div>
    <div class='note__content__entry'>
    <div class='note__content__date'>  Feb 2019, Germany</div>
    Ph.D. degree with <i>Summa cum laude </i> in Bioinformatics, 
    Center for Bioinformatics, Faculty of Science, University of Tübingen.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'>  Nov 2013, Poland </div>
    M.Sc. degree with Very Good in Macro-field of Study, Bioinformatics ans Systems Biology, Faculty of Mathematics, Informatics and Mechanics, University of Warsaw.
    </div>    

    <div class='note__content__entry'>
    <div class='note__content__date'> Sep 2011, Poland </div>
    B.Sc. degree in Macro-field of Study, Bioinformatics and Systems
    Biology, Faculty of Mathematics, Informatics and Mechanics, University of Warsaw, Poland.
    </div>
</div>


<div class="note" id='experience'>
    <div class='note__content__title'>  Employment  </div>    

    <div class='note__content__entry'>
    <div class='note__content__date'> since April 2019, Italy </div>
    Postdoctoral researcher in <a href="https://www.id-care.net/"> Infectious Diseases group</a> under a lead of Prof. Evelina Tacconelli, University of Verona.
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> Sep 2013 - Mar 2019, Germany </div>
    Ph.D. student in <a href="https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/algorithms-in-bioinformatics/"> Algorithms for Bioinformatics group</a> supervised by Prof. Daniel Huson, Center for Bioinformatics Tübingen. 
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> 14 March - 20 April 2016, USA</div>
    Internship in <a href="https://pop-lab.org/"> Prof. Mihai Pop’s group </a>, Center for Bioinformatics and Computational Biology, University of Maryland.
    </div>


    <div class='note__content__entry'> 
    <div class='note__content__date'> July – September 2012, USA </div>
    Internship in <a href="https://mccammon.ucsd.edu/"> Prof. Andrew J. McCammon’s group</a>, University of California San Diego.
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> June 2011 - September 2013, Poland </div>
    Graduate student fellowship in the TEAM project, co-founded by The Foundation for Polish Science at <a href='http://bionano.cent.uw.edu.pl/'> Biomolecular Machines Laboratory</a>, supervised by Prof. Joanna Trylska, Centre of New Technologies "Ochota", University of Warsaw
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> 2009 - 2010, Poland </div>
    Internship in <a href="http://genesilico.pl/"> Prof. Janusz Bujnicki’s group </a> at Laboratory of Bioinformatics and Protein Engineering, International Institute of Molecular and Cell Biology, Warsaw, RNA structure modeling.
    </div>

</div>



<div class="note" id='training'> 
    <div class='note__content__title'> Selected training </div>
    
    <div class='note__content__entry'>    
        <div class='note__content__date'>  Sep 2013 - Sep 2016, Germany</div>   
            
            Ph.D. program  <a href="https://www.phd.tuebingen.mpg.de/imprs"> International Max Planck Research School From Molecules to Organisms </a>, Max Planck Institute for Developmental Biology and University of Tübingen. IMPRS course provided a supervisorial structure Thesis-Advisory-Committee, scientific exchange opportunity during yearly symposia, and soft skills training on communication, presentation, scientific writing, and ethics in science. 
            
            During my time at the University of Tuebingen, I took courses on didactics in higher education, grant writing and networking.


        </div>


    <div class='note__content__entry'>
        <div class='note__content__date'>  22 – 27 November 2015, Belium</div>
        Biological Data Visualization Workshop, Leuven. 
    </div>

    <div class='note__content__entry'>
        <div class='note__content__date'>  2 – 6 March 2015, Germany </div>
            Machine learning course by Prof. Michael Cummings
    </div>    

    
</div>


</div>

{% endblock %}

