{% extends "template.html" %}
{% set active_page = "cv" %}


{% block content %}

<div class='note__title'> Education </div>
<div class="note"> 
    <div class='note__content__entry'>
    <div class='note__content__date'>  Feb 2019</div>
    Ph.D. degree with <i>Summa cum laude </i> in Bioinformatics, Center for Bioinformatics, Faculty of Science, University of Tübingen, Germany.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'>  Nov 2013 </div>
    M.Sc. degree with Very Good in Macro-field of Study, Bioinformatics ans Systems Biology, Faculty of Mathematics, Informatics and Mechanics, University of Warsaw, Poland.
    </div>    

    <div class='note__content__entry'>
    <div class='note__content__date'> Sep 2011 </div>
    B.Sc. degree in Macro-field of Study, Bioinformatics and Systems
    Biology, Faculty of Mathematics, Informatics and Mechanics, University of Warsaw, Poland.
    </div>
</div>

<div class='note__title'>  Positions  </div>
<div class="note">
    

    <div class='note__content__entry'>
    <div class='note__content__date'> since April 2019 </div>
    Postdoctoral researcher in <a href="https://www.id-care.net/"> Infectious Diseases group</a> under a lead of Prof. Evelina Tacconelli, University of Verona, Italy.
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> Sep 2013 - Mar 2019 </div>
    Ph.D. student in <a href="https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/algorithms-in-bioinformatics/"> Algorithms for Bioinformatics group</a> supervised by Prof. Daniel Huson, Center for Bioinformatics Tübingen. Ph.D. program  <a href="https://www.phd.tuebingen.mpg.de/imprs"> International Max Planck Research School From Molecules to Organisms </a>, Max Planck Institute for Developmental Biology and University of Tübingen, Germany.
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> 14 March - 20 April 2016 </div>
    Internship in <a href="https://pop-lab.org/"> Prof. Mihai Pop’s group </a>, Center for Bioinformatics and Computational Biology, University of Maryland, USA.
    </div>


    <div class='note__content__entry'> 
    <div class='note__content__date'> July – September 2012 </div>
    Internship in <a href="https://mccammon.ucsd.edu/"> Prof. Andrew J. McCammon’s group</a>, University of California San Diego, USA.
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> June 2011 - September 2013 </div>
    Graduate student fellowship in the TEAM project, co-founded by The Foundation for Polish Science at <a href='http://bionano.cent.uw.edu.pl/'> Biomolecular Machines Laboratory</a>, supervised by Prof. Joanna Trylska, Centre of New Technologies "Ochota", University of Warsaw, Poland.
    </div>

    <div class='note__content__entry'> 
    <div class='note__content__date'> 2009 - 2010 </div>
    Internship in <a href="http://genesilico.pl/"> Prof. Janusz Bujnicki’s group </a> at Laboratory of Bioinformatics and Protein Engineering, International Institute of Molecular and Cell Biology, Warsaw, RNA structure modeling.
    </div>

</div>



{% endblock %}

