{% extends "template.html" %}
{% set active_page = "about" %}
{% block content %}

<div class="page__content page__content--border page__content--stretch">

    	
	<div class="hello-page"
		style="background-image: url({{ url_for('static', filename='img/half_genome.png') }})"
		>
		<div class="hello-page__dimmer"></div>
		<div class="hello-page__content">
			<h2> Hi, </h2>
			<p>
			My work is focused on limiting the emergence of antibiotic resistance. Still, it is highly transversional concerning the methods and data. Currently, I'm a PostDoc in the <a target="_blank" href='https://www.id-care.net/'>Infectious Diseases department headed by prof. Evelina Tacconelli in the University of Verona</a>. 
			</p>
		
			<p>
			All of my projects require close collaboration between clinical experts, statisticians and data experts. I believe communication in interdisciplinary teams should be conducted as a conscious democratic process, although it often takes more time. Therefore, I am interested in teaching and scientific data visualisation. I am also managing and involved in several interdisciplinary tasks within  EU-funded <a target="_blank" href='https://orchestra-cohort.eu'>Orchestra</a>.
			</p>

			<p>
			Here, I would like to present the scope of my past and current projects across: <a href="{{ url_for('metaanalysis') }}"> mata-analysis</a>, <a href="{{ url_for('metagenomics') }}">clinical metagenomics</a>, <a href="{{ url_for('clinical') }}">clinical data analysis and management</a>, and <a href="{{ url_for('molecular') }}">molecular dynamics</a>, as well as other related activities: <a href="{{ url_for('visualisation') }}">scientific visualisation</a>, <a href="{{ url_for('teaching') }}">teaching</a> and some other small <a href="{{ url_for('blog') }}"> pieces of writing </a>. 
			</p>

			<h2 class="hello-page__signature"> Ania </h2>
		
		</div>
	</div>

	<div class="note" id='introduction'> 
	<div class='note__content__subtitle'> Recent publications: </div>
			<div class='note__content__entry'> 
			<div class='note__content__date'> 2022, Biomedicines </div>
        	Righi E. , Lambertenghi L., <u>Górska A.</u>, Sciammarella  C., Ivaldi F. ,  Mirandola M.,  Sartor A., Tacconelli E. <a target="_blank"  href="https://www.mdpi.com/2227-9059/10/11/2786"> Impact of COVID-19 and Antibiotic Treatments on Gut Microbiome: A Role for Enterococcus spp.</a>
        	</div>

        	<div class='note__content__entry'> 
        	<div class='note__content__date'> 2022, The Lancet Regional Health - Europe </div>
        	Tacconelli E., <u>Górska A.</u>, Carrara E., Davis R. J., Bonten  M., Sartor  A.,Tacconelli  E., Friedrich  A. W., Glasner C., Goossens H.,  Hasenauer J., Haro  J. M., José A., Peñalvo L., Sanchez-Niubohk A., Sialm  A., Scipione  G., Soriano G., Yazdanpana Y., Vorstenbosch E., Jaenisch T. <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S2666776222001636"> Challenges of data sharing in European Covid-19 projects: A learning opportunity for advancing pandemic preparedness and response. </a>
			</div>
        	
			<div class='note__content__entry'> 
            <div class='note__content__date'> 2022, Clinical Microbiology and Infection </div>
            Gentilotti E.,  De Nardo P., Cremonini E., <u>Górska A.</u>, Mazzaferri F., Canziani M. L., Hellou M. M., Olchowski Y.,  Poran I., Leeflang  M., Villacian J.,  Goossens  H., Paul M., Tacconelli E.,
            <a target="_blank"  href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00551-6/fulltext"> Diagnostic accuracy of point-of-care tests in acute community-acquired lower respiratory tract infections. A systematic review and meta-analysis</a>. 
	        </div>



	</div>

</div>



{% endblock %}

