{% extends "template.html" %}
{% set active_page = "about" %}
{% block content %}

<div class="page__content page__content--border page__content--stretch">
	<div class="hello-page"
		style="background-image: url({{ url_for('static', filename='img/half_genome.png') }})"
		>
		<div class="hello-page__dimmer"></div>
		<div class="hello-page__content">
			<h2> Hi, </h2>
			<p>

			I am a PostDoc in the <a target="_blank" href='https://www.id-care.net/'>Infectious Diseases department headed by prof. Evelina Tacconelli in the University of Verona</a>, I'm focused on limiting the emergence of antibiotic resistance. My work is highly transversal, involving close collaboration between clinical experts, statisticians, and data experts.
			</p>
		
			<p>
			I believe that effective communication in interdisciplinary teams requires a conscious democratic process, and I'm passionate about teaching and scientific data visualization to facilitate this process. I'm currently managing and involved in several interdisciplinary tasks within the EU-funded <a target="_blank" href='https://orchestra-cohort.eu'>Orchestra</a>. project, which is dedicated to developing innovative solutions for combatting antibiotic resistance.
			</p>

			<p>
				My past and current projects span a diverse range of approaches including <a href="{{ url_for('metaanalysis') }}"> mata-analysis</a>, <a href="{{ url_for('metagenomics') }}">clinical metagenomics</a>, <a href="{{ url_for('clinical') }}">clinical data analysis and management</a>, and <a href="{{ url_for('molecular') }}">molecular dynamics</a>. Additionally, I'm involved in related  <a href="{{ url_for('visualisation') }}">scientific visualisation</a>, and <a href="{{ url_for('teaching') }}">teaching</a>.
				 <!-- and have written several <a href="{{ url_for('blog') }}"> pieces of writing </a> on these topics.  -->

			</p>
			<h2 class="hello-page__signature"> Ania Górska</h2>
		
		</div>
	</div>

	<div class="note">
	<div class='note__content__subtitle'> Webservers: </div>		
	<ul>
		<li> Orchestra LTA: <a href='https://longcovid.orchestra-cohort.eu'> longcovid.orchestra-cohort.eu </a> </li>
		<!-- <li> Value-Dx clinical algorithm: <a href='https://ca-valuedx.ddsp.univr.it'> ca-valuedx.ddsp.univr.it </a> </li> -->
		<li> RiboScanner: <a href='http://riboscanner.cent.uw.edu.pl'> riboscanner.cent.uw.edu.pl </a></li>
		<li> MINT: <a href='http://mint.cent.uw.edu.pl/index.php?strona=MintInt'> mint.cent.uw.edu.pl </a></li>
	</ul>

	</div>

<!-- 	<div class="note" id='introduction'> 
	<div class='note__content__subtitle'> Recent publications: </div>
			<div class='note__content__entry'> 
			<div class='note__content__date'> 2023, eClinical Medicine </div>
        	Gentilotti E.,  <u>Górska A.</u>, Tami A., Gusinow R., Mirandola M., Baño, R., Baena R. .. Tacconelli E.<br> <a target="_blank"  href="https://www.sciencedirect.com/science/article/pii/S2589537023002845?via%3Dihub"> Clinical phenotypes and quality of life to define post-COVID-19 syndrome: a cluster analysis of the multinational, prospective ORCHESTRA cohort </a>
        	</div>

			<div class='note__content__entry'> 
			<div class='note__content__date'> 2022, Biomedicines </div>
        	Righi E. , Lambertenghi L., <u>Górska A.</u>, Sciammarella  C., Ivaldi F. ,  Mirandola M.,  Sartor A., Tacconelli E.<br> <a target="_blank"  href="https://www.mdpi.com/2227-9059/10/11/2786"> Impact of COVID-19 and Antibiotic Treatments on Gut Microbiome: A Role for Enterococcus spp.</a>
        	</div>

        	<div class='note__content__entry'> 
        	<div class='note__content__date'> 2022, The Lancet Regional Health - Europe </div>
        	Tacconelli E., <u>Górska A.</u>, Carrara E., Davis R. J., Bonten  M., Sartor  A.,Tacconelli  E., Friedrich  A. W., Glasner C., Goossens H.,  Hasenauer J., Haro  J. M., José A., Peñalvo L., Sanchez-Niubohk A., Sialm  A., Scipione  G., Soriano G., Yazdanpana Y., Vorstenbosch E., Jaenisch T.<br> <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S2666776222001636"> Challenges of data sharing in European Covid-19 projects: A learning opportunity for advancing pandemic preparedness and response. </a>
			</div>
        	
			<div class='note__content__entry'> 
            <div class='note__content__date'> 2022, Clinical Microbiology and Infection </div>
            Gentilotti E.,  De Nardo P., Cremonini E., <u>Górska A.</u>, Mazzaferri F., Canziani M. L., Hellou M. M., Olchowski Y.,  Poran I., Leeflang  M., Villacian J.,  Goossens  H., Paul M., Tacconelli E.,
            <a target="_blank"  href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00551-6/fulltext"> <br>Diagnostic accuracy of point-of-care tests in acute community-acquired lower respiratory tract infections. A systematic review and meta-analysis</a>. 
	        </div>
		</div> -->
	</div>



{% endblock %}

