{% extends "template.html" %}
{% set active_page = "metagenomics" %}

{% block content %}

    <div class="note">
    <div class='note__title'>  Human Gut Microbiome  </div>

    We have analysed the 16S rRNA in the face of COVID. With 16S we can review only the taxonomical content of the gut microbiome under the pressure of covid and its development to the followup, for patients who suffer from long-covid and those that have recovered. We weren't able to see a definite negative impact of the antibiotics on the recovery. As in the acute phase, the impact of covid and hospitalisation covers the possible impact of the antibiotics. There are not enough people in follow-up to see the antibiotics impact. I am hoping in the Whole Genome Sequencing. We will be able to see that even if the taxonomic composition of the gut recovers, the antibiotic resistance genes are promoted more in the people who were given antibiotics in the acute phase of the covid. 
        <div class='note__content__entry'>
            <div class='note__content__title'> Gut microbiome in COVID </div>
        </div>
    </div>


{% endblock %}
