{% extends "template.html" %}

{% block content %}

<div class="page__content">

<a href="{{ url_for('metaanalysis') }}" class="banner-link" 
 style="background-image: url({{ url_for('static', filename='img/metaanalysis_button.png') }})"
> 
<div class="banner-link__dimmer"></div>
<div class="banner-link__title">Systematic review</div>
</a>  

<ul class="subnavigation" >
<li><a href="#introduction" class="subnavigation__link" > Introduction</a></li>
<li><a href="#valuedx" class="subnavigation__link" >Value-Dx</a></li>
<li><a href="#current_work" class="subnavigation__link" >Current work</a></li>
</ul>


<div class="note" id='introduction'> 
    <div class='note__content__title'> Introduction </div>
    <p>
    The systematic review is one of the crucial methods providing actionable knowledge in medicine. It is a structured, formalized process of gathering information from published research. It starts from setting a research question and constructing a search strategy for the publication database, most commonly PubMed. The resulting publications are first reviewed based on the title and abstract so that those that are obviously outside of scope can be rejected. Next, the information is extracted from the publications that passed the initial screening. Finally, depending on the research question and the extraction process, the data might be further meta-analyzed, i.e., the statistical method can be applied to summarize them, so that the initial question can be answered precisely. Typically, this process is quite labour intensive.
    </p>

    <p>
    Applied bioinformaticians often find themselves at the end of the rope, not being able to interpret the results of their work due to a lack of domain knowledge and complexity of such results. Like clusters of the gene relevant gene names or bacterial taxa. In that case, I often try to access or create a resource that would complement the domain knowledge. The systematic review provides a framework for such queries. Thus I am interested in computerizing the process of systematic review so that eventually information can be retrieved from the set of publications.
    </p>
</div>

<div class="note" id='valuedx'> 
<div class='note__content__title'> Value-Dx </div>
        
    <p>
    <a target="_blank"  href='https://www.value-dx.eu/'>Value-DX</a> project is a 4-year long EU-funded project aiming at reducing antibiotic prescribing via proper diagnostics of community-acquired respiratory tract infections (CA-ARTIs). We were a part of <a target="_blank" href='://www.value-dx.eu/index.php/work-package-1/'> Work Package 1 </a>tasked with developing an evidence-based clinical algorithm to diagnose the aetiology of the CA-ARTI. The project started in the March 2019, before the COVID pandemic changed the lives of the infectious diseases doctors and scientists. 
    </p>

    <p>
    First, we have conducted a comprehensive meta-analysis of the diagnostic test accuracy of the point of care tests for the pathogens causing respiratory tract infections. A rationale was that knowing the landscape of the diagnostic tools and their performance  characteristic would enable us to create an algorithm to drive a diagnostic path depending on the current prevalence and patient's symptoms. My role in the meta-analysis was automatizing and conducting PubMed and Web of Science searches, exporting search results and statistical analysis of the extracted data, and visualising the results.
    </p>

    <p>
    From the informatics perspective, the meta-analysis resulted in a large table wich the disease, pathogen, type of test, test name, subgroup (children, adults etc.) and test characteristics: sensitivity, sensitivity, sensitivity, along with the confidence intervals, and derived Positive and Negative predictive values, and likelihood ratios. That table, the patient-level datasets and the prevalence information were used to develop the clinical algorithm.
    </p>

    <p>
    First, I assigned the <i>cost</i>, to each test to reflect that the one should first check signs and symptoms, then the blood tests such as WBC and CRP, Xray or Ultrasound, and next the antigen detection techniques before the Nucleic-Acid-Amplification techniques.    
    </p>
    <p>
    I build a clinical algorithm in a form of a binary decision tree. The nodes correspond to the tests, the connecitons to their outcome: positive and negative. At each node the probability across the possible etiologies is computed, according to the above path. Finally, I <i>walk</i> the algorithm for each of the patient from the database. The edge width corresponds to the number of visitng patients. 
    </p>

    <p>
    The algorithm can be re-computed for the particular test availability and their cost local prevalence information. The cheapest algorithms could be selected from the equally performing ones with the real cost information. The algorithm is yet to be finalized and published, but the meta-analysis and the algorithm in its current version can be viewed on the Webserver.
    </p>

    <div class='note__content__subtitle'> Webservers: </div>
        <div class='note__content__entry'> 
            <a href='https://valuedx.aniagorska.me'> Value-Dx clinical algorithm webserver </a>
        </div>

    <div class='note__content__subtitle'> Publications: </div>
        <div class='note__content__entry'> 
            <div class='note__content__date'> 2022, Clinical Microbiology and Infection </div>
            Gentilotti E.,  De Nardo P., Cremonini E., <u>Górska A.</u>, Mazzaferri F., Canziani M. L., Hellou M. M., Olchowski Y.,  Poran I., Leeflang  M., Villacian J.,  Goossens  H., Paul M., Tacconelli E.,
            <a target="_blank"  href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00551-6/fulltext"> Diagnostic accuracy of point-of-care tests in acute community-acquired lower respiratory tract infections. A systematic review and meta-analysis</a>. 
        </div>

        <div class='note__content__entry'>
            <div class='note__content__date'> 2020,  Clinical Microbiology and Infection </div>
            Hellou, M. M., <u>Górska, A.</u>, Mazzaferri, F., Cremonini, E., Gentilotti, E., De Nardo, P., Paul, M.<a target="_blank"  href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(20)30695-9/fulltext"> Nucleic-acid-amplification tests from respiratory samples for the diagnosis of coronavirus infections: systematic review and meta-analysis</a>
        </div>
</div>

<div class="note" id='current_work'> 
    <div class='note__content__title'> Current work </div>
    <p>
    <div class='note__content__subtitle'> Automatization</div>
    I'm working on automatization of the screening using Natural-Language processing tools and <a target="_blank"  href="https://fasttext.cc">FastText</a>. A dream would be to set up (almost)completely hands-off living meta-analysis.    </p>

    <p>
    <div class='note__content__subtitle'>  Visualizaiton </div>
    I also collaborate with doctors to create tools for the analysis of the content of publication set. A first example is under development, here:
    <a target="_blank"  href="https://metaanalysis.aniagorska.me/">emerging topics</a>.
    </p>
    </div>
</div>






{% endblock %}
