{% extends "template.html" %}
{% set active_page = "projects" %}

{% block content %}

   <div class='note__content__entry'>
    <div class='note__content__date'> 2016 </div>
    Górska A., Markowska-Zgrajek A., Równicki M., Trylska J. <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcb.6b02081"> Scanning of 16S ribosomal RNA for peptide nucleic acid and targets</a>, The Journal of Physical Chemistry B.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2015 </div>
     Górska A., Jasiński M., and Trylska J., <a href="https://academic.oup.com/nar/article/43/17/e114/2414329"> MINT: Software to Identify Motifs and Short-Range Interactions in Trajectories of Nucleic Acids</a>, Nucleic Acids Research
    </div>


<form action="{{ url_for('projects') }}">
    <input type="submit" value="Return" />
</form>


{% endblock %}
