{% extends "template.html" %}
{% set active_page = "blog" %}


{% block content %}
<div class="page__content page__content--border">

	<div class="note" id='emigration'>
	<div class='note__content__title'> A voice for informed emigration</div>
	<div class='note__content__date'> June 2019 </div>
		<p>
		I've emigrated from Poland when I was 24 years old to join the PhD program in southern Germany. During the goodbye party, my friends told me I wouldn't survive it over there. First, what threatened me was starvation since I'm a vegetarian. Second, I'd probably remain sober cause I don't like beer and lonely - since I will be fighting people about the second world war. Those predictions didn't pan out, but likewise, didn't my stereotypes, both positive and negative. 
		</p>
		<p>
		Germans turned out to be quite lovely and friendly. Every german restaurant has vegetarian options, southwest Germany turned out to be a wine-producing region, and my German peers would often ask about the history first. In general, it seemed to me that Germans are active, political, open-minded, and pragmatical, not attached to the hierarchy, titles, and status symbols. Old germans from the neighbouring villages would ask us why is Poland so conservative and anti-EU lately. On the other hand, dentists and gynaecologists would switch from fluent English to german since we are in Germany. The university wouldn't allow for any flexible teaching format. I still have nightmares of fighting with German bureaucracy to get married (8 weeks to get a date).
		</p>
		<p>
		Emigration forces a lifestyle change, and there is no point fighting it. Conscious emigration will challenge ignorance. It turned out I knew nothing, not even about the history of far-away places, but not even a bit of a society of the closest neighbouring country. In my case, emigration is never-as-expected, although preparations. I found it easier to fit-in in the small international Tuebingen, than in the privileged Warsaw bubble. Now, with every trip home, I find my peers there more and more conservative. Hard to understand who's changing more, me or them.
		</p>
		<p>
		I've moved from a german informatics department to an Italian university hospital - let's see how it goes. 
		</p>
		
		<div class='top--link--mini--div'><a href="#top" class="top-link-mini" >Top</a></div>
	</div>

</div>


{% endblock %}

