{% extends "template.html" %}
{% set active_page = "blog" %}


{% block content %}
<div class="page__content page__content--border">

	<div class="note" id='emigration'>
	<div class='note__content__title'> Should I go into a PhD?</div>
	<div class='note__content__date'> Dec 2018 </div>
		<p>
			It is all true what they say. Academia can be toxic. I've been extremely privileged to have met only supportive supervisors and friendly labs. But still, instability, over time, often unfair competition, unhelpful 

		Everybody hates the end of the PhD. When one has to painfully go through entire adult scientific life, put it together, extract sense. Ugh, it was indeed a special kind of torture. However, also, so much I've learned! So much I could do! It somewhat made me nostalgic for academia.
		</p>

		<
		
		<div class='top--link--mini--div'><a href="#top" class="top-link-mini" >Top</a></div>
	</div>

</div>


{% endblock %}

