{% extends "template.html" %}
{% set active_page = "blog" %}


{% block content %}
<div class="page__content page__content--border">
	<div class="note" id='emigration'>
		<h4 class='note__content__title'>Teaching philosophy</h4>
		<div class='note__content__date'> February 2022 </div>
		<p>
		I firmly believe in the Humboldtian Ideal that teaching is an inalienable part of academic life, and, that publicly funded researchers need to be also engaged teachers of their students, lab members, and peers.
		</p>
		<p>
		Nowadays, we know the classic format of a ninety-minute lecture is one of the least effective methods of knowledge sharing. However, thanks to the advancement in didactics, teachers currently have various in-class tools at their disposal. The COVID-19 pandemic forced the development and broader adaptation of the online didactic tools and resources. Consequently, the assortment of various methods and resources can aid in better addressing diverse groups of students. Nonetheless, as didactics constitutes a lively research field, the academic teachers should be its lifelong learners.
	</p>
	<p>
		From the curriculum perspective, bioinformatics is a complex subject to teach. It mandates knowledge, language, and understanding across biology and informatics. Moreover, computational and biotechnological hardware advancements constantly challenge existing algorithmic solutions, forcing frequent revisions of the bioinformatics curriculums. In addition, bioinformaticians collaborate closely with domain experts. Thus cur- riculum should enable students to acquire communication skills. Finally, a great strength of a bioinformatics expert is the ability to generalize any biological problem and extend a methodological toolkit.
	</p>
	<p>
		I think that the basic skill introductory lectures should be underpinned by robust online resources such as lecture notes and recordings, maintained and curated by the university. Secondly, the curriculum should employ active learning methods such as project-based learning and flipped classroom. Third, the modern bioinformatics program should emphasise on the one hand analytical thinking and programming and on the other soft skills such as writing, presenting and communication. We should encourage students to join the research groups starting from the bachelor level. Lastly, the classes need to undergo updates and revisions by the students, either in the form of the student's questionnaires or collaboration with the student’s governments.
		</p>
	</div>
</div>


{% endblock %}

