{% extends "template.html" %}
{% set active_page = "projects" %}

{% block content %}


    <div class="note">
    <div class='note__title'>  Systematic Review and meta-analysis  </div>
    I am working across different topics to automatise/visualise/bring to life the process of systematic reviews regardless of their scientific question. Pubmed search is automatised nicely. I've also added machine learning to learn the acceptance/rejection from the abstract and title. In the end, one could imagine a web-based toolkit across different systematic reviews running in our group that could listen and notify if new papers appear, could visualise the outcomes, etc. We could offer a collaboration to the WP10 to bring together the systematic reviews of the ORCHESTRA. 
    </div>


    <div class="note">
    <div class='note__title'>  Human Gut Microbiome  </div>
    We have analysed the 16S rRNA in the face of COVID. With 16S we can review only the taxonomical content of the gut microbiome under the pressure of covid and its development to the followup, for patients who suffer from long-covid and those that have recovered. We weren't able to see a definite negative impact of the antibiotics on the recovery. As in the acute phase, the impact of covid and hospitalisation covers the possible impact of the antibiotics. There are not enough people in follow-up to see the antibiotics impact. I am hoping in the Whole Genome Sequencing. We will be able to see that even if the taxonomic composition of the gut recovers, the antibiotic resistance genes are promoted more in the people who were given antibiotics in the acute phase of the covid. 

    </div>


    <div class="note">
    <div class='note__title'> Clinical data analysis </div>

    I've carried out several projects (SATURN, Bloomy, COVID19, Readmission) analysing large and complex datasets of variables of different types to find the association with a minority group of specific importance. Routinely those datasets are analysed with multivariate logistic regression. I wanted to approach those analyses again to compare the logistic regression with the machine learning tools that could lead to tree-based clinical algorithms such as Decision tree or Random Forest. So comparing the Logistic Regression -> point system path to the Random Forest -> Decision Tree path. And maybe publish the code base + visualisation alongside.

    </div>





{% endblock %}

