{% extends "template.html" %}
{% set active_page = "projects" %}

{% block content %}
      
            
        <a href="{{ url_for('metaanalysis') }}" class="top--link--research"> 
        <div class="div__button div__button__metaanalysis">
            <div class="div__button_content"><div class="note__title">Systematic review</div></div>
        </div>
        </a>

                                
        <a href="{{ url_for('clinical') }}" class="top--link--research">
        <div class="div__button div__button__clinicaldata">
            <div class="div__button_content"> <div class="note__title">Clinical data analysis</div></div>
        </div>
        </a>

                
        <a href="{{ url_for('metagenomics') }}" class="top--link--research"> 
        <div class="div__button div__button__metagenomics">
            <div class="div__button_content"> 
            <div class="note__title">Metagenomics</div>
            </div>
        </div>     
        </a>

        
        <a href="{{ url_for('molecular') }}" class="top--link--research"> 
        <div class="div__button div__button__molecular"> 
            <div class="div__button_content">  
                <div class="note__title">Molecular dynamics</div>
            </div>
        </div>
        </a>


        <a href="{{ url_for('visualisation') }}" class="top--link--research"> 
        <div class="div__button div__button__visualisation">
            <div class="div__button_content"> <div class="note__title">Visualisation</div></div>
        </div>            
        </a>




{% endblock %}

