{% extends "template.html" %}
{% set active_page = "projects" %}

{% block content %}
      <div class="page__content page__content--border">
    

        <a href="{{ url_for('clinical') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/clinicaldata_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Clinical data analysis</div>
        </a>  

        

        <a href="{{ url_for('metaanalysis') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/metaanalysis_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Systematic review</div>
        </a>  


                
        <a href="{{ url_for('metagenomics') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/metagenomics_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Metagenomics</div>
        </a>  



        <a href="{{ url_for('molecular') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/molecular_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Molecular dynamics</div>
        </a>  


       <a href="{{ url_for('visualisation') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/visualisation_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Visualisation</div>
        </a>  


    </div>





{% endblock %}

