{% extends "template.html" %}
{% set active_page = "publications" %}


{% block content %}
<div class="note">

    <div class='note__content__entry'>
    <div class='note__content__date'> 2022 </div>
    Gentilotti E.,  De Nardo P., Cremonini E., Górska A., Mazzaferri F., Canziani M. L., Hellou M. M., Olchowski Y.,  Poran I., Leeflang  M., Villacian J.,  Goossens  H., Paul M., Tacconelli E.,
    <a href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00551-6/fulltext"> Diagnostic accuracy of point-of-care tests in acute community-acquired lower respiratory tract infections. A systematic review and meta-analysis</a>, Clinical Microbiology and Infection.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2020 </div>
     Hellou, M. M., Górska, A., Mazzaferri, F., Cremonini, E., Gentilotti, E., De Nardo, P., Paul, M.<a href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(20)30695-9/fulltext"> Nucleic-acid-amplification tests from respiratory samples for the diagnosis of coronavirus infections: systematic review and meta-analysis</a>, Clinical Microbiology and Infection.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2019 </div>
    Tacconelli, E., Górska A., Angelis, G., Lammens, C., Restuccia, G., Huson, D. H.,...Kazma, M. <a href="https://www.sciencedirect.com/science/article/pii/S1198743X19302472"> Estimating the Association between Antibiotic Exposure and Colonisation with Antibiotic-resistant Bacteria using Machine-learning Methods</a>, Journal of Antimicrobial Chemotherapy.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2019 </div>
    Arumugam K., Bağcı, C., Bessarab, I., Beier, S., Buchfink, B., Górska, A., Qiu, G., Huson, D. H., Williams R., <a href="https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-019-0665-y"> Annotated bacterial chromosomes from frame-shift-corrected long read metagenomic data</a>, Microbiome.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2018 </div>
    Górska, A., Peter, S., Willmann, M., Autenrieth, I., Schlaberg, R., Huson, D.H., 2018. <a href="https://www.sciencedirect.com/science/article/abs/pii/S1476927118301439?via%3Dihub"> Dynamics of the human gut phageome during antibiotics treatment</a>, Computational Biology and Chemistry.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2016 </div>
    Huson D., Beier S., Flade I., Górska A., El-Hadidi M., Mitra S., and others, <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004957"> MEGAN Community Edition - Interactive Exploration and Analysis of Large-Scale Microbiome Sequencing Data</a>, PLoS
    Computational Biology.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2016 </div>
    Górska A., Markowska-Zgrajek A., Równicki M., Trylska J. <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcb.6b02081"> Scanning of 16S ribosomal RNA for peptide nucleic acid and targets</a>, The Journal of Physical Chemistry B.
    </div>

    <div class='note__content__entry'>
    <div class='note__content__date'> 2015 </div>
     Górska A., Jasiński M., and Trylska J., <a href="https://academic.oup.com/nar/article/43/17/e114/2414329"> MINT: Software to Identify Motifs and Short-Range Interactions in Trajectories of Nucleic Acids </a>, Nucleic Acids Research
    </div>

</div>
{% endblock %}

