{% extends "template.html" %}
{% set active_page = "publications" %}


{% block content %}

<div class="page__content">


<ul class="subnavigation" >
   <li><a href="#clinical" class="subnavigation__link" > Clinical data analysis </a></li>
   <li><a href="#metagenomics" class="subnavigation__link" > Metagenomics </a></li>
   <li><a href="#metaanalysis" class="subnavigation__link" > Metaanalysis </a></li>
   <li><a href="#rna" class="subnavigation__link" > RNA </a></li>
</ul>


<div class="note">

    <h3 class='note__content__title'>Publications</h3>

    <div class="note__content__paper">
        Welcome to the Publications section. I have had the privilege of collaborating on numerous projects. Here I list the main publications organized into distinct research areas.
    </div>

    
    <div class='note__content__paper' id='clinical'>
        <div class='note__content__title'> Clinical data analysis and management </div>
            <div class='note__content__entry'> 
            <div class='note__content__date'> 2023, eClinical Medicine </div>
            Gentilotti E.,  <u>Górska A.</u>, Tami A., Gusinow R., Mirandola M., Baño, R., Baena R. .. Tacconelli E.<br> <a target="_blank"  href="https://www.sciencedirect.com/science/article/pii/S2589537023002845?via%3Dihub"> Clinical phenotypes and quality of life to define post-COVID-19 syndrome: a cluster analysis of the multinational, prospective ORCHESTRA cohort </a>
            </div>
            
            <div class='note__content__entry'> 
            <div class='note__content__date'> 2022, The Lancet Regional Health - Europe </div>
            Tacconelli E., <u>Górska A.</u>, Carrara E., Davis R. J., Bonten  M., Sartor  A.,Tacconelli  E., Friedrich  A. W., Glasner C., Goossens H.,  Hasenauer J., Haro  J. M., José A., Peñalvo L., Sanchez-Niubohk A., Sialm  A., Scipione  G., Soriano G., Yazdanpana Y., Vorstenbosch E., Jaenisch T.<br> <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S2666776222001636"> Challenges of data sharing in European Covid-19 projects: A learning opportunity for advancing pandemic preparedness and response. </a>
            </div>
        
            <div class='note__content__entry'> 
            <div class='note__content__date'> 2022, The Lancet Infectious Diseases </div>
            Tacconelli E., Goepel, Gladstone P., Eisenbeis S., Hoelzl F., Buhl M., <u>Górska A.</u>, .. Spitznagel H., Olawumi-Hurter S. <a target="_blank" href="https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(21)00587-9/fulltext">Development and validation of BLOOMY prediction scores for 14-day and 6-month mortality in hospitalised adults with bloodstream infections: a multicentre, prospective, cohort study</a>
            
            </div>
            
            <div class='note__content__entry'>
            <div class='note__content__date'> 2019, Journal of Antimicrobial Chemotherapy</div>
            Tacconelli, E., <u>Górska A.</u>, Angelis, G., Lammens, C., Restuccia, G., Huson, D. H.,...Kazma, M. <a href="https://www.sciencedirect.com/science/article/pii/S1198743X19302472"> Estimating the Association between Antibiotic Exposure and Colonisation with Antibiotic-resistant Bacteria using Machine-learning Methods</a>
            </div>
    </div>
    
    
    <div class='note__content__paper' id='metagenomics'>
        <div class='note__content__title'> Clinical gut microbiome and metagenomics </div>
            
            <div class='note__content__entry'> 
            <div class='note__content__date'> 2024, Microorganisms </div>
                E. Righi, I. D. Vecchia, N. Auerbach, M. Morra, <u>Górska A.</u>, and C. Sciammarella, <a href="https://www.mdpi.com/2076-2607/12/1/131"> Gut Microbiome Disruption Following SARS-CoV-2: A Review </a>

            </div>

            <div class='note__content__entry'> 
            <div class='note__content__date'> 2022, Biomedicines </div>
            Righi E. , Lambertenghi L., <u>Górska A.</u>, Sciammarella  C., Ivaldi F. ,  Mirandola M.,  Sartor A., Tacconelli E. <a target="_blank"  href="https://www.mdpi.com/2227-9059/10/11/2786"> Impact of COVID-19 and Antibiotic Treatments on Gut Microbiome: A Role for Enterococcus spp.</a>
            </div>

            <div class='note__content__entry'>
            <div class='note__content__date'> 2019, Microbiome </div>
            Arumugam K., Bağcı, C., Bessarab, I., Beier, S., Buchfink, B., <u>Górska A.</u>, Qiu, G., Huson, D. H., Williams R., <a href="https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-019-0665-y"> Annotated bacterial chromosomes from frame-shift-corrected long read metagenomic data</a>
            </div>

            <div class='note__content__entry'>
            <div class='note__content__date'> 2018, Computational Biology and Chemistry </div>
            <u>Górska A.</u>, Peter, S., Willmann, M., Autenrieth, I., Schlaberg, R., Huson, D.H., 2018. <a href="https://www.sciencedirect.com/science/article/abs/pii/S1476927118301439?via%3Dihub"> Dynamics of the human gut phageome during antibiotics treatment</a>
            </div>

            <div class='note__content__entry'>
            <div class='note__content__date'> 2016, PLoS Computational Biology </div>
            Huson D., Beier S., Flade I., <u>Górska A.</u>, El-Hadidi M., Mitra S., and others, <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004957"> MEGAN Community Edition - Interactive Exploration and Analysis of Large-Scale Microbiome Sequencing Data</a>
            </div>
    </div>
    
    <div class='note__content__paper' id='metaanalysis'>
        <div class='note__content__title'> Systematic review and metaanalysis </div>
            <div class='note__content__entry'>
            <div class='note__content__date'> 2022, Clinical Microbiology and Infection </div>
            Gentilotti E.,  De Nardo P., Cremonini E., <u>Górska A.</u>., Mazzaferri F., Canziani M. L., Hellou M. M., Olchowski Y.,  Poran I., Leeflang  M., Villacian J.,  Goossens  H., Paul M., Tacconelli E.,
            <a href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00551-6/fulltext"> Diagnostic accuracy of point-of-care tests in acute community-acquired lower respiratory tract infections. A systematic review and meta-analysis</a>
            </div>

            <div class='note__content__entry'>
            <div class='note__content__date'> 2020, Clinical Microbiology and Infection </div>
             Hellou, M. M., <u>Górska A.</u>, Mazzaferri, F., Cremonini, E., Gentilotti, E., De Nardo, P., Paul, M.<a href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(20)30695-9/fulltext"> Nucleic-acid-amplification tests from respiratory samples for the diagnosis of coronavirus infections: systematic review and meta-analysis</a>
            </div>
    </div>

    
    <div class='note__content__paper' id='rna'>
    <div class='note__content__title'> RNA structure and molecular dynamics </div>
        <div class='note__content__entry'>
        <div class='note__content__date'> 2016, The Journal of Physical Chemistry B </div>
        <u>Górska A.</u>, Markowska-Zgrajek A., Równicki M., Trylska J. <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcb.6b02081"> Scanning of 16S ribosomal RNA for peptide nucleic acid and targets</a> 
        </div>

        <div class='note__content__entry'>
        <div class='note__content__date'> 2015, Nucleic Acids Research </div>
        <u>Górska A.</u>, Jasiński M., and Trylska J., <a href="https://academic.oup.com/nar/article/43/17/e114/2414329"> MINT: Software to Identify Motifs and Short-Range Interactions in Trajectories of Nucleic Acids </a>
        </div>
    </div>

</div>
{% endblock %}

