{% extends "template.html" %}
{% set active_page = "teaching" %}

{% block content %}
    <div class="page__content page__content--border">

        <div class='note'>
            <h4 class='note__content__title'>Teaching</h4>
            <p>Teaching was a vital part of my PhD. I've TA-ed and designed courses, assignments, single lectures, and tutorials, all supervised by <a href= 'https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/algorithms-in-bioinformatics/people/daniel-huson/'>prof. Huson</a>. I also took classes on didactics. Below I've listed the classes I've ta-ed and lectured, with a small description about</p>
        </div>

        <div class="note">   
            <div class='note__content__subtitle'>A practical interdisciplinary PhD course on exploratory data analysis.</div>
            <div class='note__content__date'> 2021/2022, Verona </div>
            <p>In the Italian system, PhD students need to take classes from the PhD school. Together with two other post-docs from the bioinformatics department, we have proposed a borad, crush data-analysis course aimed at people who already are full-time researchers and work with data. ~75 people signed up from different fields - including informatics. We presented the general principles and rules of data analysis, tools in python for manipulating data and plotting and the machine learning principles. Taking advantage of the diverse group of students, we encouraged the students to form interdisciplinary groups and apply the new knowledge to real-life datasets.</p>
        </div>
        <div class="note">
            <div class='note__content__subtitle'> A guest lecturer during the programming for bioinformatics.</div>
            <div class='note__content__date'> Summer 2021, Verona </div>
            <p>In Verona, the main class of the Bioinformatics masters program is Programming for Bioinformatics, taught by <a target="_blank" href="https://www.di.univr.it/?ent=persona&id=35790&lang=it">prof. Rosalba Giugno</a>. I was invited for a week of classes to talk about metagenomics. I thought 16S rRNA data analysis, whole-genome and long-read metagenomics. Like in Tuebingen, the class ended with the project. I conducted a project on the microbiome analysis in the COVID-19 patients for the two students.</p>
        </div>
        <div class="note">
            <div class='note__content__subtitle'> Informatics Vorkurs </div>
            <div class='note__content__date'> 2017, 2018, T&uuml;bingen </div>
            <p>The Master's in Bioinformatics was a popular choice among the biology and biotechnology undergrads. But unfortunately, many of them didn't have the computational experience needed for Bioinformatics I and II classes. To help with this situation, I organised a group of fellow PhD students and prepared Vorkurs that took place a week before the classes started. During five days, we taught the essential computer skills: command line, git, and Linux, the basics of python, java and LATEX.</p>
        </div>

        <div class="note">
            <div class='note__content__subtitle'>Bioinformatics proseminar</div>
            <div class='note__content__date'>2017, T&uuml;bingen</div>
            <p>All bachelor students have to join one of the proserminars offered across the department. The course follows a flipped-classroom paradigm. The TA presents a list of topics and distributs them among the students. Students need to prepare a write-up and a presentation on the subject, then present it to the class. My role was to teach scientific writing, presentation, and how to provide structured feedback to the speaker. I conducted a metagenomics proseminar.</p>
        </div>
        
        <div class="note">
            <div class='note__content__subtitle'> Visualization of Biological Data</div>
            <div class='note__content__date'> 2016, 2017, T&uuml;bingen </div>
            <p>I've TA-ed the Visualization of biological data three times with three different teams. The lecture presented main visualisation principles, following the <a target="_blank"  href='https://www.cs.ubc.ca/~tmm/vadbook/'>Visualization Analysis and Design book</a> by Tamara Munzner. In the tutorials, I taught an interactive design using JavaScript and D3.js. The sessions followed a blended-learning approach, and the lecture ended with the group visualisation project and an oral exam from the theoretical part.</p>
        </div>


        <div class="note">
            <div class='note__content__subtitle'> Group programming Projects in Python and Java</div>
            <div class='note__content__date'> 2014, 2016, T&uuml;bingen </div>    
            <p>The group programming project was a university-wide, but de-centralised, class. Each research group proposed a topic and a programming language. Every year we came up with an exciting bioinformatic-specific programming project. The projects ran in a scrum manner. TAs were posing as product owners, and the role of the project manager was rotating through the group. In addition, the students needed to set up a repository, maintain documentation and finally present the results to the group. We carried out this project independently, reporting to the Professor during the group meetings.</p>
        </div>


        <div class="note">
            <div class='note__content__subtitle'> Advanced Java for Bioinformatics</div>
            <div class='note__content__date'> 2015, T&uuml;bingen </div>    
            <p>This was a deep dive into Java, advanced programming, and visualisation in JavaFX. I created assignments and conducted the practical sessions that included code-review, UI design and design-patterns. At the end of the project, we conducted a group programming project to visualise the 3D structure of the biological molecules.   </p>
        </div>

        <div class="note">
            <div class='note__content__subtitle'> Bioinformatics I</div>
            <div class='note__content__date'> 2014, 2016, T&uuml;bingen </div>
            
            <p>This course was an overview of sequence-related algorithmics, constituting the basis of the field of bioinformatics: pairwise and multiple sequence alignment, read-mapping, suffix trees, assembly, genome comparison, RNA-secondary structure prediction, gene prediction, RNA-seq etc. The course was obligatory for all first-year master students of Bioinformatics. We were teaching theoretical algorithmics, reading publications, programming (in python) and setting up pipelines and bioinformatics tools.</p>
        </div>

        

    </div>

  
    



{% endblock %}
