{% extends "template.html" %}
{% set active_page = "teaching" %}

{% block content %}
    <div class="page__content page__content--border">

        <div class='note'>
            <div class='note__content__title'>  Teaching  </div>
        I firmly believe in the humboldian paradigm of the higher education, that the researchers should teach as well, both the students and their peers. Teaching was a vital part of my PhD. I've TA-ed and designed courses, assignments, single lectures, and tutorials, all supervised by <a href= 'https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/algorithms-in-bioinformatics/people/daniel-huson/'>prof. Huson</a>. I also took classes on didactics. Below I've listed the classes I've ta-ed and lectured, with a small description about 


        </div>
    

        <div class="note">   
            <div class='note__content__subtitle'>A practical interdisciplinary PhD course on exploratory data analysis.</div>
            <div class='note__content__date'> 2021/2022, Verona </div>
            In the Italian system, PhD students need to take classes from the PhD school. Together with two other post-docs from the bioinformatics department, we have proposed a borad, crush data-analysis course aimed at people who already are full-time researchers and work with data. ~75 people signed up from different fields - including informatics. We presented the general principles and rules of data analysis, tools in python for manipulating data and plotting and the machine learning principles. Taking advantage of the diverse group of students, we encouraged the students to form interdisciplinary groups and apply the new knowledge to real-life datasets.

            
        </div>

        <div class="note">
            <div class='note__content__subtitle'> A guest lecturer during the programming for bioinformatics.</div>
            <div class='note__content__date'> Summer 2021, Verona </div>
            In Verona, the Bioinformatics masters program, the main class taught by <a href=https://www.di.univr.it/?ent=persona&id=35790&lang=it'> prof. Rosalba Giugno</a> is Programming for Bioinformatics. I was invited for a week of classes to talk about metagenomics. I thought 16S rRNA data analysis, whole-genome and long-read metagenomics. Like in Tuebingen, the class ended with the project. I conducted a project on the microbiome analysis in the COVID-19 patients for the two students.

        </div>


        <div class="note">
            <div class='note__content__subtitle'> Informatics Vorkurs </div>
            <div class='note__content__date'> 2017, 2018, T&uuml;bingen </div>
            The Master's Bioinformatics was popular among the biology and biotechnology undergrads. As a result, in the classes such as Bioinformatics I and II, half of the course had no computational experience. Therefore, I organised a Vorkurs, which took place a week before the classes started, to crunch into the new Bioinformatics students the essential computer skills. I convinced fellow PhD students to contribute, and in 5 days, we taught: command line and Linux, git, the basis of python and java, and LATEX.
        </div>

        <div class="note">
            <div class='note__content__subtitle'> Bioinformatics pro-seminar </div>
            <div class='note__content__date'> 2017, T&uuml;bingen </div>
            Pro-seminar is an obligatory class for all bachelor students. But they could join any proseminar offered across the department. The course followed a fully flipped-classroom paradigm. The TA presented a list of topics and distributed them among the students. Students needed to prepare a write-up - and a presentation on the subject and present it to the class. Thus I thought and later graded the scientific writing, presentation, and how to provide structured feedback to the speaker. I conducted a metagenomics proseminar.
        </div>
        

        <div class="note">
            <div class='note__content__subtitle'> Visualization of Biological Data</div>
            <div class='note__content__date'> 2016, 2017, T&uuml;bingen </div>
            I've TA-ed the Visualization of biological data three times with three different teams. The lecture presented main visualisation principles, following the <a href='https://www.cs.ubc.ca/~tmm/vadbook/'>Visualization Analysis and Design book</a> by Tamara Munzner. In the tutorials, I taught an interactive design using javascript and D3. The sessions followed a blended-learning approach, and the lecture ended with the group visualisation project and an oral exam from the theoretical part.
            
        </div>


        <div class="note">
            <div class='note__content__subtitle'> Group programming Projects in Python and Java</div>
            <div class='note__content__date'> 2014, 2016, T&uuml;bingen </div>    
            The group programming project was a university-wide class, but de-centralised, as each research group proposed a topic and a programming language. Every year we came up with an exciting bioinformatic-specific programming project. The projects ran in a scrum manner. TAs were posing as product owners, and the role of the project manager was rotating through the group. In addition, the students needed to set up a repository, maintain documentation and finally present the results to the group. We carried out this project independently, reporting to the Professor during the group meetings.

            
        </div>


        <div class="note">
            <div class='note__content__subtitle'> Advanced Java for Bioinformatics</div>
            <div class='note__content__date'> 2015, T&uuml;bingen </div>    
            This was a deep dive into Java, advanced programming, and visualisation in JavaFX. I created assignments and conducted the practical sessions that included code-review, UI design and design-patterns. At the end of the project, we conducted a group programming project to visualise the 3D structure of the biological molecules.   
        </div>

        <div class="note">
            <div class='note__content__subtitle'> Bioinformatics I</div>
            <div class='note__content__date'> 2014, 2016, T&uuml;bingen </div>
            
            This course was an overview of sequence-related algorithmics,  constituting the basis of the field of bioinformatics: pairwise and multiple sequence alignment, read-mapping, suffix trees, assembly, genome comparison, RNA-secondary structure prediction, gene prediction, RNA-seq etc. The course was obligatory for all first-year master students of Bioinformatics. We were teaching theoretical algorithmics, reading publications, programming (in python) and setting up pipelines and bioinformatics tools.
            
            TA-ed and planned. 
        </div>

        

    </div>

  
    



{% endblock %}
