{% extends "template.html" %}
{% set active_page = "teaching" %}

{% block content %}

    <div class='note'>
    <div class='note__title'>  Teaching  </div>
    
    <p>
    In the Humboldtian spirit, I believe a researcher working in a public institution should also teach and communicate their research to the broader public. Teaching was a vital part of my PhD. I've TA-ed and designed courses, assignments, single lectures, and tutorials. 
    </p>  

    </div>

      <div class="note">
        <div class='note__content__title'> Dydactics in higher educaiton</div>
        <div class='note__content__date'> 2015 </div>    
        , TA-ed and planned.
    </div>


    <div class="note">   
        <div class='note__content__title'>A practical interdisciplinary PhD course on exploratory data analysis.</div>
        <div class='note__content__date'>  2021/2022 </div>
        
        
    </div>

    <div class="note">
        <div class='note__content__title'> A guest lecturer during the programming for bioinformatics about Metagenomics.</div>
        <div class='note__content__date'> Summer 2021 </div>
    </div>


    <div class="note">
        <div class='note__content__title'> Informatics Vorkurs </div>
        <div class='note__content__date'> 2017, 2018 </div>
        Informatics Vorkurs, Planned and carried out independently.
    </div>

    <div class="note">
        <div class='note__content__title'> Bioinformatics pro-seminar </div>
        <div class='note__content__date'> 2017 </div>
         Carried out independently.
    </div>
    

    <div class="note">
        <div class='note__content__title'> Visualization of Biological Data</div>
        <div class='note__content__date'> 2016, 2017 </div>
        , TA-ed and planned. 
    </div>


    <div class="note">
        <div class='note__content__title'> Programming Projects in Python and Java</div>
        <div class='note__content__date'> 2016 </div>    
        Carried out independently.
    </div>

    <div class="note">
        <div class='note__content__title'> Bioinformatics I</div>
        <div class='note__content__date'> 2014, 2016 </div>
        TA-ed and planned. 
    </div>

    <div class="note">
        <div class='note__content__title'> Advanced Java for Bioinformatics</div>
        <div class='note__content__date'> 2015 </div>    
        , TA-ed and planned.
    </div>

    
  
    



{% endblock %}
