 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>A. Gorska personal page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

 <body>
  <div class="page">
 <!--    <div class="page__header"> 
        <div class="page__header__main"> Anna Górska,  PHD </div> 
        <div class="page__header__side">Bioinformatics perspective on infectious diseases</div> 
    </div> -->
    
    <div class="page__navigation">
        <div class="page__header__main"> <a href="{{ url_for('index') }}" class="page__header__main__a">Anna Górska, PHD</a></div> 
                <ul class="page__navigation__list">
                    <li>
                        <a href="{{ url_for('index') }}" class="top-link {{'top-link-active' if active_page == 'about' else ''}}">
                            About
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('projects') }}" class="top-link {{'top-link-active' if active_page == 'projects' or active_page == metaanalysis else ''}}">
                            Research
                        </a>
                    </li>
            
                    <li>
                        <a href="{{ url_for('cv') }}" class="top-link {{'top-link-active' if active_page == 'cv' else ''}}" >Experience
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('teaching') }}" class="top-link {{'top-link-active' if active_page == 'teaching' else ''}}">
                            Teaching
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{ url_for('blog') }}" class="top-link {{'top-link-active' if active_page == 'blog' else ''}}">Thoughts
                        </a>
                    </li>
                </ul>
            
         
    </div>
    
         {% block content %}
         {% endblock %}
    
    <footer class="footer">
        <div class="footer__main"> &copy Ania Górska 2022</div>
        <!-- <div class="footer__aside">   -->

            <div class='contact'>  
                <a href = "mailto: ania.gorska@univr.it"><font size="+3">&#9993;</font></a>
                <a target="_blank" href="https://www.researchgate.net/profile/Anna-Gorska-4"><i class="fab fa-researchgate" style="font-size:23px"></i></a>
                <a target="_blank" href="https://twitter.com/gvalchca_agr"><i class="fa fa-twitter" style="font-size:23px"></i></a>
                <a target="_blank" href="https://scholar.google.com/citations?hl=en&user=c8w_6xwAAAAJ&view_op=list_works&sortby=pubdate"><i class="ai ai-google-scholar ai-4x" style="font-size:23px"></i></a>
                <a target="_blank" href='https://orcid.org/0000-0003-3305-8711'><i class="ai ai-orcid ai-4x" style="font-size:23px"></i></a>
            </div>
        <!-- </div> -->
    </footer>

    </div>
    <button id="go-to-top" class="go-to-top">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
<script type="text/javascript">
    const goToTop = document.getElementById('go-to-top')
    window.addEventListener('scroll', function() {
        if (window.scrollY > 100) {
            goToTop.classList.add('go-to-top--visible')
        }
        else {
            goToTop.classList.remove('go-to-top--visible')
        }
    })
    goToTop.addEventListener('click', function () {
        if (window.scrollTo) {
            window.scrollTo({top: 0, behavior: "smooth"})
        }
        else {
            window.scroll(0, 0)
        }
    })

    Array.prototype.slice.call(
        document.getElementsByClassName('subnavigation__link')
    ).forEach(element => {
        element.addEventListener('click', function (event) {
            const targetId = event.target.href.split('#')[1]
            const target = document.getElementById(targetId)
            if (target && target.scrollIntoView) {
                target.scrollIntoView({behavior: "smooth", block: "start"})
                event.preventDefault()
            }
        })
    })

</script>
    
</body>
</html>





