{% extends "template.html" %}
{% set active_page = "projects" %}

{% block content %}

<div class="page__content">

 <a href="{{ url_for('visualisation') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/visualisation_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Visualisation</div>
</a>  

<ul class="subnavigation" >
   <li><a href="#introduction" class="subnavigation__link" > Introduction</a></li>
   <li><a href="#webservers" class="subnavigation__link" > webservers </a></li>
   <li><a href="#small_contributors" class="subnavigation__link" > Small contributions </a></li>
</ul>
    
    <div class="note " id='introduction'>
    
    
    <div class='note__content__title'>  Introduction  </div>
    Since the training in Lueven and the visualisation of biological data course we conducted in Tuebingen, Visualisation is one of the crucial aspects of my day-to-day scientific work. I often develop interactive websites to visualise the results and enable the application of the algorithms.
    </div>


    <div class="note" id='webservers'>    

        <div class='note__content__title'>  Webservers  </div>


        <div class='note__content__entry'> 
        <div class='note__content__date'> 2022, University of Verona</div>
            <a target="_blank"  href='https://valuedx.aniagorska.me'> Value-Dx clinical algorithm webserver </a> to view the DTA meta-analysis results and to interact with clinical algorithm.
        </div>

        <div class='note__content__entry'>
        <div class='note__content__date'> 2016, University of Warsaw</div>
        <a target="_blank"  href="http://riboscanner.cent.uw.edu.pl">RiboScanner</a> to browse and predict if the given sequence would bind to the bacterial rRNA.
        </div>


        <div class='note__content__entry'>
        <div class='note__content__date'> 2015, University of Warsaw</div>
         <a target="_blank"  href="http://mint.cent.uw.edu.pl/">MINT webserver</a> to analyse and visualise an RNA molecule from a pdb file.
        </div>

        


    </div>


    <div class="note" id='small_contributors'>
        <div class='note__content__title'> Small contributions </div>
        <p>
        In the Infectious Diseases department, I provide a lot of support and advice on static and interactive data visualisation. My contributions often are not substantial enough for the authorship. Nonetheless, here I keep track of my contributions focused on visualisation.
        </p>
        
        <div class='note__content__entry'>
            <div class='note__content__date'> 2021, Clinical Microbiology and Infection</div>
            Pezzani, M. D. et al.<a target="_blank"  href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00006-9/fulltext">  Methodological quality of studies evaluating the burden of drug-resistant infections in humans due to the WHO Global Antimicrobial Resistance Surveillance System target bacteria</a>
        </div>
    </div>    
</div>    
    
{% endblock %}
