{% extends "template.html" %}
{% set active_page = "projects" %}

{% block content %}
<div class="page__content">

 <a href="{{ url_for('visualisation') }}" class="banner-link" 
         style="background-image: url({{ url_for('static', filename='img/visualisation_button.png') }})"
        > 
        <div class="banner-link__dimmer"></div>
        <div class="banner-link__title">Visualisation</div>
</a>  

<ul class="mini--menu" >    
   <li><a href="#introduction" class="top-link-mini" > Introduction</a></li>
   <!-- <li><a href="#pna" class="top-link-mini" > Designing a PNA molecule to halt bacterial translation </a></li> -->
   </ul>
    

    <div class="note" id='introduction'>
    <div class='note__content__title'>  Introduction  </div>
    </div>


    <div class="note">

        <div class='note__content__entry'>
            <div class='note__content__date'> 2021, Clinical Microbiology and Infection</div>
            Pezzani, M. D. et al.<a href="https://www.clinicalmicrobiologyandinfection.com/article/S1198-743X(21)00006-9/fulltext">  Methodological quality of studies evaluating the burden of drug-resistant infections in humans due to the WHO Global Antimicrobial Resistance Surveillance System target bacteria</a>
            </div>
        


       <div class='top--link--mini--div'><a href="#top" class="top-link-mini" >Top</a></div>
    </div>    
</div>    
    
{% endblock %}
